@import 'vendors/_bootstrap.scss';
section {
    padding: 70px 0 50px;
}


/*** Caroursel***/

section#carousel-block {
    padding: 0px !important;
}

.carousel {
    min-height: 480px;
    margin-bottom: 0px;
    .carousel-caption {
        z-index: 10;
        text-align: left;
        top: 50px;
        right: 10%;
        left: 10%;
        font-size: 22px;
    }
    .item {
        height: 480px;
        background-color: #777;
    }
    .feature-list {
        list-style-type: none;
    }
}


/*** Marketing ***/

section#marketing-block {
    text-align: center;
    background-color: aliceblue;
    h2 {
        font-weight: 700;
    }
    color:#2b3e50;
    .fa-border {
        border: solid .08em #2b3e50;
    }
    .feature {
        margin-bottom: 15px;
    }
}


/*** Pricing ***/

section#pricing-block {
    .panel {
        margin-bottom: 10px;
    }
    .panel-heading {
        background-color: #7b8b9b;
    }
}

.jumbotron {
    background-color: #bf5a16;
}

.domain-submit {
    display:block;
    width:100%;
    
}
.well {
    overflow: auto;
}

section#search-domain-front {
    padding: 40px 0 20px;
    background-color: #df691a;
}

section#search-domain,
section#domain-privacy,
section#domains,
section#contact-form,
section#contact-map,
{
    padding: 20px 0;
}


/*** Footer ***/

footer {
    padding: 20px 0 10px;
    background-color: #334759;
}

@media screen and (max-width: 990px) {
    footer p {
        text-align: center !important;
    }
}


/*** Navbar Call Us  ***/

@media screen and (min-width: 768px) {
    /*** Carousel ***/
    .carousel {
        .item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 500px;
        }
    }
    #MyCarousel {
        margin-top: 55px;
    }
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
    }
    .navbar-nav > li > p {
        padding-top: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
    .navbar-brand {
        padding-top: 20px;
        padding-bottom: 20px
    }
    section {
        padding: 100px 0 80px;
    }
    section#marketing-block {
        .feature {
            margin-bottom: 0px;
        }
    }
    .jumbotron {
        padding: 80px 0 40px !important;
    }
}

@media screen and (max-width: 420px) {
    .navbar-nav > li > p {
        padding-left: 12px;
        padding-right: 0px;
    }
    .carousel {
        h1 {
            font-size: 22px !important;
        }
        ul {
            font-size: 17px !important;
        }
        p {
            font-size: 17px !important;
        }
        .item > img {
            max-width: inherit;
        }
    }
    .jumbotron {
        padding: 50px 0 20px !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 421px) {
    .navbar-nav > li > p {
        padding-left: 12px;
        padding-right: 0px;
    }
    .carousel {
        h1 {
            font-size: 25px
        }
        ul {
            font-size: 19px
        }
        p {
            font-size: 19px
        }
        .item > img {
            max-width: inherit;
        }
    }
    .jumbotron {
        padding: 50px 0 20px !important;
    }
}